body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    margin-top: 50px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
}
